<footer class="bg-dark text-white" >
  <div class="container py-4" style="background-color: #333;" >
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/profile.php?id=61558612329168&mibextid=ZbWKwL" role="button" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <!--<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>-->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/gp_webapp?igsh=c2lxaHdoaWFlNHlm" role="button" target="_blank"><i class="fab fa-instagram"></i></a>
    </section>
  </div>

  <div class="container-fluid text-center p-3" style="background-color: #333;">
    © 2024 Copyright: 2024 - Todos los derechos reservados
  </div>
</footer>

