* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #000000;
}
.breadcrumbs {
  background-color: transparent;
}

.breadcrumb {
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}
.breadcrumb-item a {
  color: black;
  background-color: transparent;

}
.breadcrumb-item {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '\00BB'; /* Puedes cambiar esto al símbolo que desees */
  margin: 0 5px;
}

.breadcrumb-item.active {
  color: #000; /* Color del texto activo */
}

.all{
  padding-top: 10%;
}
