<body>

    <header class="header">
        <nav class="nav-bar">
            <li class="logo">
                <a href="/"><img src="../../../assets/logo.png" alt="Logo"></a>
            </li>
            <input type="checkbox" id="check">
            <span class="menu">
                <div class="search-container">
                    <div id="ctn-icon-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" id="inputSearch" #inputSearch placeholder="Buscando ...">
                    </div>
                </div>

                <li><a href="#" (click)="rol()">Proyectos</a></li>
                <li><a href="#about">Acerca de Nosotros</a></li>
                <li><a href="/sitemap">Mapa del Sitio</a></li>
                <li><a href="#" id="iniciarCerrarSesion" (click)="gestionarSesion()">{{ estaLogueado ? 'Cerrar Sesión' :
                        'Iniciar Sesión' }}</a></li>
                <label for="check" class="close-menu"><i class="fa-solid fa-bars"></i></label>
            </span>
            <label for="check" class="open-menu"><i class="fa-solid fa-bars"></i></label>

        </nav>
    </header>

    <div class="home">
        <section id="banner">
            <div class="banner">
                <div class="typed_wrap">
                    <h1>Te Ayudamos a <span class="typed"></span></h1>
                </div>
                <div class="imagen-container">
                    <img class="imagen-grande"
                        src="https://i.pinimg.com/originals/69/e6/f6/69e6f674d4ab40834c31493d21d9560c.gif">
                </div>
            </div>
        </section>

        <div class="container-img">
            <img class="img-banner" src="../../../assets/banner.png" alt="Descripción de la imagen">
        </div>

        <section id="hero" class="glass-effect">
            <div class="container">
                <h2>Bienvenido</h2>
                <p>Somos líderes en ofrecer soluciones innovadoras.</p>
                <a href="/register" class="btn" id="registrate">Regístrate</a>
            </div>
        </section>
        <div class="card">
            <section id="about">
                <div class="container">
                    <h2>Acerca de Nosotros</h2>
                    <p>Somos una empresa dedicada a la gestión eficiente de proyectos, proporcionando soluciones
                        innovadoras para ayudarte a alcanzar tus objetivos de manera exitosa. Nuestra misión es
                        optimizar tus procesos de trabajo y maximizar la productividad de tus proyectos.</p>
                    <p>Creemos en la importancia de la planificación estratégica, la coordinación efectiva y la
                        comunicación clara para garantizar el éxito en cada etapa del proyecto. Nos comprometemos a
                        trabajar de cerca contigo para entender tus necesidades y ofrecerte las mejores soluciones
                        adaptadas a tus objetivos específicos.</p>
                    <p>En nuestra empresa, nos esforzamos por mejorar continuamente nuestros métodos y prácticas para
                        proporcionarte servicios de la más alta calidad. Nos enorgullece ofrecer un enfoque
                        personalizado y orientado al cliente en cada proyecto en el que participamos.</p>
                </div>
            </section>
        </div>

        <div class="card">
            <section id="enfoque">
                <div class="container">
                    <img src="../../../assets/8104960.jpg" alt="">
                    <h4>Nuestro Enfoque</h4>
                    <p>Nuestro enfoque se centra en comprender tus necesidades únicas y desarrollar soluciones
                        personalizadas que impulsen el éxito de tu proyecto. Trabajamos en estrecha colaboración contigo
                        para garantizar que cada aspecto de tu proyecto se maneje con cuidado y atención al detalle.</p>
                </div>
            </section>
        </div>

        <div class="card">
            <section id="servicios">
                <div class="container">
                    <h4>Nuestros Servicios</h4>
                    <p>Ofrecemos una amplia gama de servicios de gestión de proyectos, incluyendo planificación,
                        seguimiento y control, gestión de riesgos, gestión de recursos y más. Nuestro equipo
                        experimentado está aquí para ayudarte en todas las etapas de tu proyecto, desde la concepción
                        hasta la finalización.</p>
                </div>
            </section>
        </div>

        <div class="card">
            <section id="ayuda">
                <div class="container">
                    <img src="../../../assets/19719.jpg" alt="">
                    <h4>Cómo Podemos Ayudarte</h4>
                    <p>Nos enorgullecemos de proporcionar soluciones efectivas que optimicen tus procesos y mejoren los
                        resultados de tus proyectos. Nuestro objetivo es ayudarte a alcanzar tus metas de manera
                        eficiente y rentable, brindándote el apoyo necesario para superar cualquier desafío que puedas
                        enfrentar en el camino.</p>
                </div>
            </section>
        </div>
    </div>
    <app-footer></app-footer>
</body>