
.home {
    flex-wrap: wrap;
}
/*Menu*/
.header{
    z-index: 1000;
    background-color: #2A5E72;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #333333;
    padding: 12px 20px;
}
.logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(1.2);
}
.menu{
    display: flex;
}
.menu li{
    padding-left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color:#FFF;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    padding: 8px;
    border-radius: 3px;
    
}
.menu li a:hover {
    background-color: #fff;
    color: #333333;
    transition: background-color 0.5s, color 0.5s;
}
.search-container i{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: fixed;
}
.search-container input {
    padding: 10px;
    width: 200px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-search {
    background-color: #D7D7D7;
    color: #333333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #77B0CC;
    color: #fff;
}
.open-menu, .close-menu {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check {display: none;}
/*Banner*/
#banner {
    background-color: #2c2c2c;
    text-align: center;
    padding: 100px 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.banner {
    background: #2c2c2c;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    position: relative;

}
.typed_wrap {
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 90%;
    max-width: 600px;
    margin:  auto;
    padding: 30px;
    text-align: center;
    margin-top: 80px;
}
.typed_wrap h1 {
    display: inline;
}
.typed::after {
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.typed-cursor {
    opacity: 0;
    display: none;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
/*Home*/

img {
    width: 20%;
    height: auto;
    display: block;
}
/* Secciones */
section {
    padding: 80px 0;
    margin-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
}
#hero {
    background-color: #333333;
    color: #D7D7D7;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


#hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

#hero .btn {
    padding: 15px 30px;
    background-color: #D7D7D7;
    color: #333333;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1.2em;
}

#about, #enfoque, #servicios, #ayuda {
    background-color: #fff;
    color: #333;
    padding: 80px 0;
    text-align: justify; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  
  #about .container,
  #enfoque .container,
  #servicios .container,
  #ayuda .container {
    max-width: 1300px; 
  }
  
  #about h2, #enfoque h4, #servicios h4, #ayuda h4 {
    font-size: 2.5em;
    margin-bottom: 1px;
    padding: 20px; 
  }
  
  #about p, #enfoque p, #servicios p, #ayuda p {
    font-size: 1.5em;
    margin-bottom: 0px;
    padding: 20px;
  }  
/* Imágenes en secciones */
#enfoque img {
    max-width: 40%;
    height: auto;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#ayuda img {
    max-width: 40%;
    height: auto;
    float: right;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255 ,255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 16px;
}


.img-b {
    width: 100%;
    height: auto;
    max-height: 100%; 
    object-fit: cover; 
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.banner img {
    max-width: 100%; 
    height: auto; 
  }

  .imagen-container {
    width: 500px;
    height: auto;
    margin-top: auto; 
    margin-right: auto;
}

.imagen-grande {
    width: 100%;
    height: auto;
}

.container-img {
    max-width: 100%;
    margin-top: 20px; 
  }
  
.img-banner {
    width: 100%;
    height: auto;
  }

  .card {
    width: 90%;
    height: auto;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #949699;
    border-radius: 10px;
    background: #949699;
}

.card:hover {
    transform: scale(1.05);
}
.oculto {
    display: none;
}
@media (max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #333333;
        transition: all 0.0s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu, .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
