*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  }
  body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url('../../../assets/login.jpg');
	background-size: cover;
	background-position: center;
  }
  .wrapper{
	width: 520px;
	background: transparent;
	border: 3px solid rgba(0, 0, 0, 0.418);
	backdrop-filter: blur(9px);
	color: #333;
	border-radius: 12px;
	padding: 30px 40px;
	margin-top: -90px; /* Ajustar el margen izquierdo para mover el cuadrado hacia la derecha */
  }
  .wrapper h1{
	font-size: 36px;
	text-align: center;
  }
  .wrapper .input-box{
	position: relative;
	width: 100%;
	height: 50px;
	
	margin: 30px 0;
  }
  .input-box input{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(0, 0, 0, 0.418);
	border-radius: 40px;
	font-size: 16px;
	color: black;
	padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
	color: #333;
  }
  .input-box i{
	position: absolute;
	right: 20px;
	top: 30%;
	transform: translate(-50%);
	font-size: 20px;
  
  }
  .wrapper .remember-forgot{
	display: flex;
	justify-content: space-between;
	font-size: 14.5px;
	margin: -15px 0 15px;
  }
  .remember-forgot label input{
	accent-color: #333;
	margin-right: 3px;
  
  }
  .remember-forgot a{
	color: #333;
	text-decoration: none;
  
  }
  .remember-forgot a:hover{
	text-decoration: underline;
  }
  .wrapper .btn{
	width: 100%;
	height: 45px;
	background: #333;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	margin-top: 15px;
  }
  .wrapper .register-link{
	font-size: 14.5px;
	text-align: center;
	margin: 20px 0 15px;
  
  }
  .register-link p a{
	color: #333;
	text-decoration: none;
	font-weight: 600;
  }
  .register-link p a:hover{
	text-decoration: underline;
  }

  .recaptcha-container {
	margin-left: 70px; /* Cambia este valor según sea necesario */
	margin-top: -10px;
  }
  .error-message {
	color: red;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 100px;
  }

  /* Estilos para el modal */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
	background-color: white;
	padding: 89px; /* Aumenta el padding para hacer el cuadro más grande */
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
  }
  
  /* Estilos para el título del modal */
  .modal-title {
	margin-top: 0;
  }
  
  /* Estilos para el botón de cerrar */
  .btn-close {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5rem;
  }
  
  /* Estilos para el área de entrada del código */
  .input-box {
	margin-bottom: 20px;
  }
  
  /* Estilos para los botones del pie de página del modal */
  .modal-footer {
	display: flex;
	justify-content: space-between;
  }
  
  