<div class="all">
    <app-header></app-header>
    <div class="card">
      <div class="card-body">
      </div>
      <div class=" mapa-sitio-container">
        <div>
          <h4>Mapa del Sitio</h4>
        </div>
        <div class="nivel1">
          <div><a href="/">Inicio</a></div>
          <div class="nivel2">
            <div><a href="#" (click)="gestionarSesion()">Actividades y Proyectos</a></div>
            <div class="nivel3">
              <div><a href="#" (click)="proyecto()">Crear Proyecto</a></div>
              <div><a href="#" (click)="proyecto()">Crear Actividades</a></div>
            </div>
            <div><a href="/sitemap">Mapa del sitio</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>