<nav class="nav-bar">
    <li class="logo">
        <a href="/"><img src="../../../assets/logo.png" alt="Logo"></a>
    </li>
    <input type="checkbox" id="check">
    <span class="menu">
        <div class="search-container">
            <div id="ctn-icon-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" id="inputSearch" #inputSearch placeholder="Buscando ...">
            </div>
        </div>

        <li><a href="#" (click)="rol()">Proyectos</a></li>
        <li><a href="#about">Acerca de Nosotros</a></li>
        <li><a href="/sitemap">Mapa del Sitio</a></li>
        <li><a href="#" id="iniciarCerrarSesion" (click)="gestionarSesion()">{{ estaLogueado ? 'Cerrar Sesión' :
                'Iniciar Sesión' }}</a></li>
        <label for="check" class="close-menu"><i class="fa-solid fa-bars"></i></label>
    </span>
    <label for="check" class="open-menu"><i class="fa-solid fa-bars"></i></label>

</nav>